@{
    ViewData["Title"] = "Listele";
}

@model List<Ülkeler>

<h1>ÜLKELER</h1>
<a href="/ülkeler/ekle" class="btn btn-danger">Ülke Ekle</a>
<a class="btn" style="background-color:blue; color:white" asp-controller="ülkeler" asp-action="Ekle">Ülke Ekle</a>
<table class="table">
    <thead>
        <tr>
            <th>UlkeId</th>
            <th>UlkeAdi</th>
            <th>Silme İşlemi</th>
            <th>Güncelleme İşlemi</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UlkeId</td>
                <td>@item.UlkeAdi</td>
                <td> <a class="btn btn-danger" asp-controller="ulkeler" asp-action="Sil" asp-route-id="@item.UlkeId">Sil</a></td>
                <td> <a class="btn btn-success" asp-controller="ulkeler" asp-action="Güncelle" asp-route-id="@item.UlkeId">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>

