USE [master]
GO
/****** Object:  Database [KUTUPHANE]    Script Date: 04/04/2023 09:39:25 ******/
CREATE DATABASE [KUTUPHANE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KUTUPHANE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\KUTUPHANE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KUTUPHANE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\KUTUPHANE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KUTUPHANE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KUTUPHANE]
GO
/****** Object:  Table [dbo].[ESERLER]    Script Date: 04/04/2023 09:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESERLER](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NOT NULL,
	[category] [int] NOT NULL,
	[writer] [int] NOT NULL,
	[publishdate] [int] NOT NULL,
 CONSTRAINT [PK__ESERLER__3213E83F48156F40] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KATEGORI]    Script Date: 04/04/2023 09:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KATEGORI](
	[categoryid] [int] IDENTITY(1,1) NOT NULL,
	[categoryname] [varchar](20) NOT NULL,
 CONSTRAINT [PK__KATEGORI__23CDE59078FF4C6A] PRIMARY KEY CLUSTERED 
(
	[categoryid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YAZARLAR]    Script Date: 04/04/2023 09:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YAZARLAR](
	[writerid] [int] IDENTITY(1,1) NOT NULL,
	[writername] [varchar](20) NOT NULL,
 CONSTRAINT [PK__YAZARLAR__1984335190B4D324] PRIMARY KEY CLUSTERED 
(
	[writerid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[TERCIH]    Script Date: 04/04/2023 09:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[TERCIH]
as
select id,name,categoryname,writername,publishdate 
from ESERLER e inner join YAZARLAR y on y.writerid = e.writer 
inner join KATEGORI k on  k.categoryid = e.category
GO
SET IDENTITY_INSERT [dbo].[ESERLER] ON 

INSERT [dbo].[ESERLER] ([id], [name], [category], [writer], [publishdate]) VALUES (1, N'DONKISOT', 1, 1, 1920)
INSERT [dbo].[ESERLER] ([id], [name], [category], [writer], [publishdate]) VALUES (2, N'SEFILLER', 2, 2, 1930)
INSERT [dbo].[ESERLER] ([id], [name], [category], [writer], [publishdate]) VALUES (3, N'MAVI AY', 3, 3, 1940)
SET IDENTITY_INSERT [dbo].[ESERLER] OFF
GO
SET IDENTITY_INSERT [dbo].[KATEGORI] ON 

INSERT [dbo].[KATEGORI] ([categoryid], [categoryname]) VALUES (1, N'DünyaKlasikleri')
INSERT [dbo].[KATEGORI] ([categoryid], [categoryname]) VALUES (2, N'Ask')
INSERT [dbo].[KATEGORI] ([categoryid], [categoryname]) VALUES (3, N'Roman')
SET IDENTITY_INSERT [dbo].[KATEGORI] OFF
GO
SET IDENTITY_INSERT [dbo].[YAZARLAR] ON 

INSERT [dbo].[YAZARLAR] ([writerid], [writername]) VALUES (1, N'F. Scott Fitzgerald')
INSERT [dbo].[YAZARLAR] ([writerid], [writername]) VALUES (2, N'Miguel De Cervantes')
INSERT [dbo].[YAZARLAR] ([writerid], [writername]) VALUES (3, N'Virginia Wolf')
SET IDENTITY_INSERT [dbo].[YAZARLAR] OFF
GO
ALTER TABLE [dbo].[ESERLER]  WITH CHECK ADD  CONSTRAINT [FK_ESERLER_KATEGORI] FOREIGN KEY([category])
REFERENCES [dbo].[KATEGORI] ([categoryid])
GO
ALTER TABLE [dbo].[ESERLER] CHECK CONSTRAINT [FK_ESERLER_KATEGORI]
GO
ALTER TABLE [dbo].[ESERLER]  WITH CHECK ADD  CONSTRAINT [FK_ESERLER_YAZARLAR] FOREIGN KEY([writer])
REFERENCES [dbo].[YAZARLAR] ([writerid])
GO
ALTER TABLE [dbo].[ESERLER] CHECK CONSTRAINT [FK_ESERLER_YAZARLAR]
GO
USE [master]
GO
